<div class="container">

<div class="navbar border-bottom">
<h1> FindResto</h1>
<%= link_to "Add a new restaurant", new_restaurant_path %>
</div>

<div class="container mt-3 p-3" style="width: 150px">
<h3>Restaurant</h3>

<ol>
  <% @restaurants.each do |restaurant| %>
    <li> <%= link_to restaurant.name, restaurant_path(restaurant) %> </li>
  <% end %>
</ol>

</div>
</div>
